@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Minimal Jenkins workflow</h1>
    //<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">my new building Web apps with Minimal</a>.</p>
</div>
