@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>সহজ উত্তর হলো: আপনি যদি আপনার লোকাল মেশিনে ভ্যাগ্রান্ট (Vagrant) ব্যবহার করে কুবারনেটিস (Kubernetes) 
বা ডকার সোয়ার্ম (Docker Swarm) ক্লাস্টার সেটআপ করে ডেভঅপস প্র্যাকটিস করতে চান, 
তবে সরাসরি ভিজ্যুয়াল স্টুডিও থেকে "Enable container support" চেক করা বাধ্যতামূলক নয়, তবে এটি করা ভালো।.</p>
